.task {
  min-height: 160px;
  background-image: url(../images/task-view.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: grid;
  grid-template-columns: 106px 1fr 114px;
  align-items: center;

  @media (max-width: 595px) {
    grid-template-columns: 1fr;
    padding: 20px 0;
    background-image: none;
    border: 3px solid #32c5ff;
    border-radius: 25px;
    background-color: #fff;
  }

  &_active {
    background-image: url(../images/task-view-active.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;

    @media (max-width: 595px) {
      border: 3px solid #21d881;
      background-image: none;
      border-radius: 25px;
      background-color: #fff;
    }
  }


  &__title {
    color: #000000;
    font-family: $avenir-bold;
    font-size: 30px;
    letter-spacing: 1.27px;

    &_active {
      color: #11b654;
    }
  }

  &__desc {
    color: #000000;
    font-family: $avenir-font;
    font-size: 22px;
    font-weight: 400;
  }

  &__delete {
    width: 74px;
    height: 74px;
    border: 1px solid #f63d72;
    border-radius: 50%;
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    justify-self: end;
    margin-right: 40px;
    box-shadow: 0 5px 15px rgba(244, 67, 54, 0.46);

    &:active {
      box-shadow: 0 5px 15px rgba(147, 140, 139, 0.46);
    }

    &:hover {
      background-color: #fbb9b940;
    }


    @media (max-width: 595px) {
      width: 65px;
      height: 65px;
      justify-self: center;
      margin: 0;
    }
  }

  &__checkbox-wrap {
    margin-left: 50px;

    @media (max-width: 595px) {
      justify-self: center;
      margin: 0;
    }
  }

  &__text-box {
    padding: 15px 150px 15px 37px;

    @media (max-width:992px) {
      padding: 15px;
    }
  }
}